.archive__item p a {
    text-decoration: none;
    color: inherit;
}

.archive__item p a i {
    margin-right: 0.5em;
}

.publication-links a {
    text-decoration: none !important;
    color: inherit;
}

.publication-links a:hover {
    text-decoration: underline !important;
}

.publication-links a i {
    margin-right: 0.5em;
}

.archive__item__inner {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    height: 100%;
}

.archive__item-teaser {
    flex: 0 0 25%;
    margin-right: 1em;
    aspect-ratio: 1;
}

.archive__item-teaser img {
    width: 25%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
    padding: 0.25em;
}

.archive__item-indented-content .archive__item-excerpt {
    margin-top: -1em;
}

.card {
    background: var(--background-color, #ffffff);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    padding: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.075em;
    transition: box-shadow 0.05s ease-in-out;
}

.archive__item:hover .archive__item-teaser {
    box-shadow: none !important;
}

.archive__item-title a {
    text-decoration: none !important;
    color: inherit;
}

#site-nav button {
    display: none !important;
}